[submodule "qcperf/third-party/krabs"]
	path = qcperf/third-party/krabs
	url = https://github.com/microsoft/krabsetw.git
[submodule "qcperf/third-party/Unity"]
	path = qcperf/third-party/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
